<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!--thymeleaf - берет из контролеров инфу-->
<head>
    <meta charset="UTF-8">
    <title>Перевозки грузов</title>
    <!--    Подключение библиотеки с css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="bg-image"
     style="background-image: url('https://palchevsky.ru/images/background.jpg'); height: 100vh; overflow: auto">
    <blockquote class="blockquote text-center"><h1>Перевозки грузов</h1></blockquote>
    <div class="row">
        <div class="col-md-8 offset-md-4">
            <h4>Поиск груза по любому критерию: </h4>
            <form th:action="@{/}">
                <input type="text" name="keyword" id="keyword" size="70" th:value="${keyword}" required/>
                <input type="submit" class="btn btn-success btn-sn" value="Поиск"/>
                <input type="button" class="btn btn-warning btn-sn" value="Очистить" id="btnClear"
                       onclick="clearSearch()"/>
            </form>
        </div>
    </div>
    <table id="1" class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col" data-column="ID" data-order="desc">ID груза </th>
            <th scope="col" data-column="name_load" data-order="desc">Название груза </th>
            <th scope="col" data-column="content" data-order="desc">Содержание груза </th>
            <th scope="col" data-column="city_from" data-order="desc">Город отправления </th>
            <th scope="col" data-column="city_to" data-order="desc">Город прибытия </th>
            <th scope="col" data-column="data_input" data-order="desc">Дата отправки груза </th>
            <th scope="col" data-column="data_output" data-order="desc">Дата прибытия груза </th>
            <th scope="col">Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="Load: ${listLoad}" class="tr">
            <th scope="row" class="th" th:text="${Load.ID}">ID груза отсутствует</th>
            <th scope="row" class="th" th:text="${Load.name_load}">Название груза отсутствует</th>
            <th scope="row" class="th" th:text="${Load.content}">Содержание груза отсутствует</th>
            <th scope="row" class="th" th:text="${Load.city_from}"> Город отправления отсутствует</th>
            <th scope="row" class="th" th:text="${Load.city_to}">Город прибытия отсутствует</th>
            <th scope="row" class="th" th:text="${Load.data_input}">Дата отправки отсутствует</th>
            <th scope="row" class="th" th:text="${Load.data_output}">Дата прибытия отсутствует</th>


            <td>
                <a th:href="@{'/edit/'+ ${Load.ID}}">
                    <button type="button" class="btn btn-info">Редактировать</button>
                </a>
                <a th:href="@{'/delete/'+ ${Load.ID}}">
                    <button type="button" class="btn btn-danger">Удалить</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <p class="text-white">
        <script type="text/javascript">
            function getRowsColumn() {
                let table = document.getElementById('1')
                let tBody = table.querySelector('tbody')
                const count = tBody.querySelectorAll('tr').length;
                document.write('Количество грузов в таблице: ' + count)
            }

            getRowsColumn()
        </script>
    </p>
    <blockquote class="blockquote text-center">
        <a href="/new">
            <button type="button" class="btn btn-primary" data-togge="button" aria-pressed="false" autocomplete="off">
                Добавить груз
            </button>
        </a>
    </blockquote>

    <script type="text/javascript">
        function clearSearch() {
            window.location = "[[@{/}]]";
        }
    </script>

    <div class="container">
        <canvas id="hist" width="400" height="200"></canvas>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script type="text/javascript">
        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min)) + min;
        }

        labels = []
        data = []
        let tr = document.getElementsByClassName('tr');
        for (let i = 0; i < tr.length; i++) {
            let t = tr[i].getElementsByClassName('th')[3].textContent;

            if (!labels.includes(t)) {
                let ind = Math.max(labels.length, 0);
                labels[ind] = t;
                data[ind] = 1;
            } else {
                let ind = labels.indexOf(t);
                data[ind] += 1;
            }
        }

        let colors = [];
        for (let i = 0; i < labels.length; i++) {
            let temp = 'rgba(' + getRandomInt(0, 256) + ', ' + getRandomInt(0, 256) + ', ' + getRandomInt(0, 256) + ', 1)';
            while (colors.includes(temp)) {
                temp = 'rgba(' + getRandomInt(0, 256) + ', ' + getRandomInt(0, 256) + ', ' + getRandomInt(0, 256) + ', 1)';
            }

            colors[i] = temp;
        }

        let dataset = {
            label: 'Количество грузов',
            data: data,
            backgroundColor: colors,
            borderWidth: 1,
        }

        Chart.defaults.global.defaultFontColor = 'white';

        let ctx = document.getElementById('hist').getContext('2d');
        let myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [dataset],
            },
            options: {
                legend: {
                    display: false,
                },
                title: {
                    display: true,
                    text: 'Груз по дате отправки',
                    position: 'top',
                    fontSize: 24,
                    padding: 20,
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1,
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Количество грузов',
                            fontSize: 18,
                        },
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Дата',
                            fontSize: 18,
                        },
                    }],
                },
            },
        });
    </script>





    <!--    <script>-->
    <!--        // Функция для отправки запроса на сервер-->
    <!--        function sortTable(column, direction) {-->
    <!--            $.ajax({-->
    <!--                type: 'GET',-->
    <!--                data: { column: column, direction: direction },-->
    <!--                success: function(data) {-->
    <!--                    // Обновляем таблицу с полученными данными-->
    <!--                    $('table table-striped table-hover').html(data);-->
    <!--                }-->
    <!--            });-->
    <!--        }-->

    <!--        // Назначаем обработчик клика на заголовке таблицы-->
    <!--        $('th').click(function() {-->
    <!--            console.log("click")-->
    <!--            var column = $(this).attr('data-column');-->
    <!--            var direction = $(this).attr('data-direction');-->
    <!--            console.log(data)-->
    <!--            if (direction == 'asc') {-->
    <!--                direction = 'desc';-->
    <!--            } else {-->
    <!--                direction = 'asc';-->
    <!--            }-->
    <!--            sortTable(column, direction);-->
    <!--            $(this).attr('data-direction', direction);-->
    <!--        });-->

    <!--    </script>-->
    <!--    <script>-->
    <!--        var myArray = document.querySelector('table table-striped table-hover')-->
    <!--        $('th').on('click', function () {-->
    <!--            console.log("CLICK")-->
    <!--            var column = $(this).data('column')-->
    <!--            var order = $(this).data('order')-->
    <!--            var text = $(this).html()-->
    <!--            text = text.substring(0, text.length - 1)-->
    <!--            console.log(text)-->


    <!--            if (order === 'desc') {-->
    <!--                $(this).data('order', "asc")-->
    <!--                myArray = myArray.sort((a, b) => a[column] > b[column] ? 1 : -1)-->
    <!--                text += '&#9660'-->

    <!--            } else {-->
    <!--                $(this).data('order', "desc")-->
    <!--                myArray = myArray.sort((a, b) => a[column] < b[column] ? 1 : -1)-->
    <!--                text += '&#9650'-->

    <!--            }-->

    <!--        })-->



    <!--    </script>-->

    <script src='https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.0.2/tablesort.min.js'></script>
    <script>
        /*!
 * tablesort v5.0.2 (2017-11-12)
 * http://tristen.ca/tablesort/demo/
 * Copyright (c) 2017 ; Licensed MIT
*/
        !function () {
            function a(b, c) {
                if (!(this instanceof a)) return new a(b, c);
                if (!b || "TABLE" !== b.tagName) throw new Error("Element must be a table");
                this.init(b, c || {})
            }

            var b = [], c = function (a) {
                var b;
                return window.CustomEvent && "function" == typeof window.CustomEvent ? b = new CustomEvent(a) : (b = document.createEvent("CustomEvent"), b.initCustomEvent(a, !1, !1, void 0)), b
            }, d = function (a) {
                return a.getAttribute("data-sort") || a.textContent || a.innerText || ""
            }, e = function (a, b) {
                return a = a.trim().toLowerCase(), b = b.trim().toLowerCase(), a === b ? 0 : a < b ? 1 : -1
            }, f = function (a, b) {
                return function (c, d) {
                    var e = a(c.td, d.td);
                    return 0 === e ? b ? d.index - c.index : c.index - d.index : e
                }
            };
            a.extend = function (a, c, d) {
                if ("function" != typeof c || "function" != typeof d) throw new Error("Pattern and sort must be a function");
                b.push({name: a, pattern: c, sort: d})
            }, a.prototype = {
                init: function (a, b) {
                    var c, d, e, f, g = this;
                    if (g.table = a, g.thead = !1, g.options = b, a.rows && a.rows.length > 0) if (a.tHead && a.tHead.rows.length > 0) {
                        for (e = 0; e < a.tHead.rows.length; e++) if ("thead" === a.tHead.rows[e].getAttribute("data-sort-method")) {
                            c = a.tHead.rows[e];
                            break
                        }
                        c || (c = a.tHead.rows[a.tHead.rows.length - 1]), g.thead = !0
                    } else c = a.rows[0];
                    if (c) {
                        var h = function () {
                            g.current && g.current !== this && g.current.removeAttribute("aria-sort"), g.current = this, g.sortTable(this)
                        };
                        for (e = 0; e < c.cells.length; e++) f = c.cells[e], f.setAttribute("role", "columnheader"), "none" !== f.getAttribute("data-sort-method") && (f.tabindex = 0, f.addEventListener("click", h, !1), null !== f.getAttribute("data-sort-default") && (d = f));
                        d && (g.current = d, g.sortTable(d))
                    }
                }, sortTable: function (a, g) {
                    var h = this, i = a.cellIndex, j = e, k = "", l = [], m = h.thead ? 0 : 1,
                        n = a.getAttribute("data-sort-method"), o = a.getAttribute("aria-sort");
                    if (h.table.dispatchEvent(c("beforeSort")), g || (o = "ascending" === o ? "descending" : "descending" === o ? "ascending" : h.options.descending ? "descending" : "ascending", a.setAttribute("aria-sort", o)), !(h.table.rows.length < 2)) {
                        if (!n) {
                            for (; l.length < 3 && m < h.table.tBodies[0].rows.length;) k = d(h.table.tBodies[0].rows[m].cells[i]), k = k.trim(), k.length > 0 && l.push(k), m++;
                            if (!l) return
                        }
                        for (m = 0; m < b.length; m++) if (k = b[m], n) {
                            if (k.name === n) {
                                j = k.sort;
                                break
                            }
                        } else if (l.every(k.pattern)) {
                            j = k.sort;
                            break
                        }
                        for (h.col = i, m = 0; m < h.table.tBodies.length; m++) {
                            var p, q = [], r = {}, s = 0, t = 0;
                            if (!(h.table.tBodies[m].rows.length < 2)) {
                                for (p = 0; p < h.table.tBodies[m].rows.length; p++) k = h.table.tBodies[m].rows[p], "none" === k.getAttribute("data-sort-method") ? r[s] = k : q.push({
                                    tr: k,
                                    td: d(k.cells[h.col]),
                                    index: s
                                }), s++;
                                for ("descending" === o ? q.sort(f(j, !0)) : (q.sort(f(j, !1)), q.reverse()), p = 0; p < s; p++) r[p] ? (k = r[p], t++) : k = q[p - t].tr, h.table.tBodies[m].appendChild(k)
                            }
                        }
                        h.table.dispatchEvent(c("afterSort"))
                    }
                }, refresh: function () {
                    void 0 !== this.current && this.sortTable(this.current, !0)
                }
            }, "undefined" != typeof module && module.exports ? module.exports = a : window.Tablesort = a
        }();
    </script>
    <script>
        new Tablesort(document.getElementById('1'));
    </script>


</div>